div.swiper
    div.swiper-wrapper.PS(data-speed="1.5" data-distance="80" )      
        div.swiper-slide
            img( loading="lazy" src=imgPath+"banners/banner1.jpg" class="preload" rel="preload")         
        div.swiper-slide
            img( loading="lazy" src=imgPath+"banners/banner2.jpg" class="preload" rel="preload")         
        div.swiper-slide
            img( loading="lazy" src=imgPath+"banners/banner3.jpg" class="preload" rel="preload")         
        div.swiper-slide
            img( loading="lazy" src=imgPath+"banners/banner4.jpg" class="preload" rel="preload")
        div.swiper-slide
            img( loading="lazy" src=imgPath+"banners/banner5.jpg" class="preload" rel="preload")
    div.swiper-pagination