- var val=value=="main"? "main":value=="prod"?"prod":"sub"
div.gallery(class=val)
    div.galleryBox
        div.swiper.swiperProd
            div.swiper-wrapper
                - var n1 = 0;            
                while n1 < 5
                    -var imgName = imgID+"_0"+ (n1%5 +1)+".jpg"
                    div.swiper-slide(data-loop=n1++) 
                        img.preload.pswp-btn(src=imgPath+"gallery/"+imgName, loading="lazy" rel="preload", data-pswpsrc=`${imgPath}gallery/${imgName}`)
            div.swiper-pagination
            
        div.swiper.swiperProdThumb
            div(class="swiper-wrapper")
                - var n2 = 0;            
                while n2 < 5
                    -var imgName = imgID+"_0"+ (n2%5 +1)+".jpg"
                    div(class="swiper-slide" data-loop=n2++)      
                        img.preload(src=imgPath+"gallery/"+imgName loading="lazy" rel="preload")
    
    div.close 
        img(src="./images/close_w.svg" , alt="", srcset="", width=25, height=25)

    include ./pswp.pug