include ./comp/config.pug

doctype html
html
  include ./comp/header.pug
  body    
    +nav("about")
    +sideBanner('關於我們', '' ,'./images/aboutBanner.jpg')

    div.bg1
      div.blocker.block-2-1.underLine
        div.content.LR.reverse
          div
            div(class="photo left")
              img.zoomImg.pswp-btn( loading="lazy", src=imgPath+"p1-2.jpg", data-pswpsrc=`${imgPath+"p1-2.jpg"}`)
          div.txtBox
            section
              div.txtAMain 喜酌人生的酸甘蜜甜
              div.txtA2Main 只要邊角料就夠用了，人生沒有想賺大錢，肉幼仔就可以過得很好
              div.txtASub 一座隱身在鄉間三合院裡的陶窯，一方生態盈溢、蟲鳴鳥叫的莊園，還有一缸缸天然釀造的手工醋。這裡是頭份水流東，做陶的與釀醋的，在此和鳴共舞，過著簡單的鄉居歲月。美，就在日常生活的點點滴滴裡。


    div.bg2
      div.blocker.block-2-2.underLine
        div.title
          div.txtAMain 生活藝術化 藝術生活化
          div.txtAMain 大門內，庭院一片綠意盎然，蝶與蛾，起舞翩翩 

        div.content.LR
          div
            div(class="photo left")
              div.imgBox
                img.zoomImg.pswp-btn( loading="lazy", src=imgPath+"about-1.jpg", data-pswpsrc=`${imgPath+"about-1.jpg"}`)
              div.imgBox
                img.zoomImg.pswp-btn( loading="lazy", src=imgPath+"about-2.jpg", data-pswpsrc=`${imgPath+"about-2.jpg"}`)
          div.txtBox
            section
              div.txtA2Sub 車子緩緩駛近三峽白雞山上的這棟透天厝，要不是門前的大片彩色背板和佔據整面大門的向日葵和蜘蛛雕塑，很難讓人把這裡跟美術館聯想在一 起，不過這兒確實完全體現了藝術家賴唐鴉的理念──「生活藝術化，藝術生活化」。賴唐鴉和太太唐婆就住在這個白雞山家庭美術館裡，美，信手捻來！
              div.txtA2Sub 大門內，庭院一片綠意盎然，蝶與蛾，起舞翩翩，唐鴉隨手一指，就看見葉叢間，翠綠的蝶蛹，一抬頭，我們又望見懸吊著的巨型陶蛹，那是唐鴉2006年時，用石門水庫的淤泥燒製一系列的主題作品──「蛹」，看似導致水庫短壽的兇手，一轉眼，竟從廢棄物變成藝術品，如同蛹羽化成蝶的美麗蛻變。但唐鴉說，選擇蛹來創作，是因為他知道「蛹」容易被蟲蝕鳥啄而消失，他認為我們腳下的土地同樣脆弱，需要被細心關切與呵護。
              div.txtA2Sub 始終本著友善環境的心來進行創作的唐鴉，2010年再度有驚豔之作，他運用友人林峻丞帶回八八風災的災區淤泥，花了一年的時間，捏塑了888尊祈福線香座，弓著腰、雙手合十的泥塑沙彌，是對受難者的不捨、是對大地的敬畏，也彷彿是對大自然的歉疚。
      
      div.blocker.block-2-2.underLine
        div.title
          div.txtAMain 我有個毛病，覺得賺錢很俗氣！
        div.content.LR.reverse
          div
            div(class="photo left")
              div.imgBox
                img.zoomImg.pswp-btn( loading="lazy", src=imgPath+"about-3.jpg", data-pswpsrc=`${imgPath+"about-3.jpg"}`)
          div.txtBox
            section
              div.txtA2Sub 「我跟老闆說，你拿我的作品去給別人去複製沒有關係，我不想做重複的東西。」唐鴉腦海始終想著突破，於是他離開窯場，踏出獨立創作的路。「我覺得藝術是我療癒自己的過程。」習慣不斷自我審視的唐鴉，心中矛盾的小宇宙來自於覺得自己跟別人不一樣，對於藝術無師自通的直覺是其一，微跛的腳步，也是原因之一，那是他兩歲時高燒不退，染上小兒麻痺留下的印記。
              div.txtA2Sub 「別人的地球是圓的，但我的不是，我眼裡的世界和別人不一樣，我後來發現這個像鼎一樣的三腳形體，讓我找到和世界的平衡。」取名為「種」的作品，用三個支點立足於大地，唐鴉說「種」不是種子意涵，而是萬物的源頭。於是，他開始思考人類與大地之母的關係，思緒的結晶陸續在手裡迸發。「你知道就像吸毒一樣，會上癮，我看到一個木材，我就開始想可以怎麼依它天然的形體創作，做一半的還會帶在身上，隨時靈光一現的時候，可以繼續。」這時候唐婆接著說：「他每天晚上都叫我打他，不知道的人還以為我們家暴。」因為木雕看似是雙手功夫，卻要全身使勁，唐鴉常常做到嚴重痠痛，總叫唐婆幫他這裡踩那裡敲的，而枯葉的百種姿態就這麼一片一片躍然於漂流木上。
        div.endFull
          div.txtA2Sub 但，不向市場靠攏的作品，也意味著生活拮据的風險。「我有個毛病，我不喜歡賺錢，我覺得賺錢很俗氣！」邊笑邊講這句話的唐鴉，開始細數深居簡出的生活，「嫁給他之前，我從來不知道原來戶頭會有沒錢的時候。」來自高雄的教師家庭、婚前在國防醫學院研究炭疽病毒的唐婆高沁余走入唐鴉山中的生活，彷彿走入另一個世界。「她當初辭掉工作跟著我生活，可能是看藝術家好像喝空氣也會飽。」唐鴉打趣的說。相識於佛教道場的兩人，10幾年前結為連理，一直有著穩定收入的唐婆，從沒想過會有為生活費發愁的 一天。「我都跟她說，我們沒有錢，不過我們一點也不窮，你看，我們用的木桌材質這麼好。」 唐鴉總是樂觀面對生活遭逢的挑戰，正如兩年半前，日子真的快撐不下去了，夫妻倆得用保單貸款過日子，還好，一場因緣際會，「醋」化解了兩人的困頓。

          
      div.blocker.block-2-3.underLine
        div.title
          div.txtAMain 一罈一世界 酸中回甘的山居歲月

        div.content.LR
          div
            div(class="photo left")
              div.imgBox
                img.zoomImg.pswp-btn( loading="lazy", src=imgPath+"about-4.jpg", data-pswpsrc=`${imgPath+"about-4.jpg"}`) 
              div.imgBox
                img.zoomImg.pswp-btn( loading="lazy", src=imgPath+"about-5.jpg", data-pswpsrc=`${imgPath+"about-5.jpg"}`)
          div.txtBox
            section              
              div.txtA2Sub  經常性胃痛的唐鴉，有一次喝了唐婆從生機飲食店帶回來的浸泡醋，想不到胃酸狀況紓緩很多，唐婆笑著說：「會開始釀醋，講白了，也是因為家裡哪經得起他每天喝有機店的醋啊！」於是為了唐鴉的胃，研究所專攻微生物遺傳工程的唐婆，開始學釀醋。二次發酵的手工醋先從釀酒開始，十幾年前為了找到天然無毒的水果來釀醋，夫妻倆不惜環臺兩圈，精選彰化的葡萄和臺東的梅子作為首釀醋，先經過幾個月到半年釀水果酒，接著餵養醋酸菌，再淬鍊一年，方能成醋， 這期間，一缸一缸的醋罈子可不是擺在一邊就好，還要不時打開它，憑著色香味，判斷它是不是餓了，然後立馬餵食水果酒，唐婆像照顧孩子般無微不至，讓醋寶貝們順應氣候慢慢熟成，不催促，沒有壓力。
              div.txtA2Sub  漸漸的，醋的種類越來越多，除了捨不得唐鴉家 鄉的那片柑桔園生產過剩，遭遇被丟棄的命運，所以他們收來做柑橘醋；苗栗家的松樹林，唐婆也妙手將之化成醋，五葉松除了獨樹一幟的清香，更能強健人體的心血管，聊到醋的益處，唐婆如數家珍：「大家都有個錯誤的觀念，醋其實是弱鹼性，不是酸性，所以有胃食道逆流的人可以喝醋減少胃酸，一般人喝，也有助於中和體內的酸鹼值。」甚至，運動過後的乳酸堆積造成肌肉痠痛，都可以喝醋來減緩症狀。喝醋，原來極其養生，甚至，是一種品味。
              div.txtA2Sub  只見唐婆用松針醋和蜂蜜打底，再倒入松針汁搭配檸檬汁和氣泡水，藍綠的漸層色澤宛如是一杯調酒，佐以竹葉和松針，完全可以沁涼一夏。接著，唐鴉拿出小陶杯，放上一塊冰，斟一口醋，就口淺嚐，有桑葚香、有牛蒡味，甚至四物的濃郁，而入喉之後的溫潤，繼續在口腔裡變化。 醋，竟然可以像酒一樣、如咖啡一般，有前、中、後味，不禁讓人期待，西方有紅酒文化，臺灣何嘗不能有品醋的顯學？醋，耐人尋味。
        div.endFull
          div.txtA2Sub 「我現在是靠老婆養！」不改幽默本色，唐鴉如是說。「現在真的是苦盡甘來了⋯」「有苦過嗎？」唐鴉半捉弄的搖晃唐婆的頭。看著這對夫妻，不禁莞爾，因為有了唐婆醋，唐鴉的藝術創作因此無後顧之憂而自在；而要是沒有藝術家對生活的隨性，也未必會有唐婆醋的精彩問世。「我們現在的日子就是顧好自己的生活，然後可以服務三峽的藝術家。」唐婆深知當一個創作者不容易，她希望能將兩人的心路歷程分享給三峽眾多的藝術家，如此，才能共好，也才能真正的將藝術生活化。
          div.txtAMain 唐鴉夫妻倆的山居歲月，就像唐婆釀的醋一樣，越陳越香，口感濃厚而回甘⋯⋯。
    
    include ./comp/pswp.pug
    include ./comp/footer.pug
    




    
    
    