include ./comp/config.pug

doctype html
html
  include ./comp/header.pug
  body    
    +nav("about")
    +sideBanner('關於我們', '' ,'./images/aboutBanner.jpg')

    div.blocker.block-2-1.underLine
      div.content
        div.txtBox
          section
            div.txtAMain About Us
            div.txtA2Main 視覺與味覺的交錯，讓水果的鮮美滋味在你我口中蔓延.... 一包滿滿台灣風味的禮物! 隨時、隨地享用!
            div.txtASub 阿金姐為善不落人後，不僅以實際行動支持在地酸桔農民，與信任的農友長達十餘年的配合契種，另外還有與新竹世光教養院合作，讓院生幫忙剝酸桔果皮，讓裡頭的身心障礙院生能夠有自己賺取收入的機會，也從中獲取成就感，一舉多得！「一路上，我們遇到太多貴人了！我們不是一定要成為多大的企業，而僅想以單純的小力量，回饋社會。」一席話道出品牌成立的初衷。阿金姐以善為出發點，盼能夠拋磚引玉，集結小愛化為大愛，讓台灣處處充滿溫情。
              
    div.blocker.block-2-2.underLine
      div.content.LR.reverse.alginTop
        div
          div(class="photo left")
            div.imgBox
              img.zoomImg.pswp-btn(loading="lazy", src=imgPath+"about-1.png", data-pswpsrc=`${imgPath+"about-1.png"}`)
        div.txtBox
          section
            div.txtA2Main 全球首支獲「碳足跡」植物佐醬
            div.txtASub 始終本著友善環境的心來進行創作的唐鴉，2010年再度有驚豔之作，他運用友人林峻丞帶回八八風災的災區淤泥，花了一年的時間，捏塑了888尊祈福線香座，弓著腰、雙手合十的泥塑沙彌，是對受難者的不捨、是對大地的敬畏，也彷彿是對大自然的歉疚。

    div.blocker.block-2-3.underLine
      div.content
        img.about2(src="./images/about-2.png")
        div
          div.txtA2Main 銷售通路與合作品牌
        div.circleLogoBox
          - var n = 0;         
            while n < 6
              -var imgName = "logo-"+ (n%6+1)+".png"
              div(data-loop=n++ )
                a.circleLogo(href="http://www.google.com.tw", style={'background-image':'url('+imgPath+imgName+')'})

    div.blocker.bottom.block-2-4
      div.content.LR.alginTop
        div
          div(class="photo left")
            div.imgBox
              img.zoomImg.pswp-btn( loading="lazy", src=imgPath+"about-3.png", data-pswpsrc=`${imgPath+"about-3.png"}`)
        div.txtBox
          section
            div.txtA2Main 全球首支獲「碳足跡」植物佐醬
            div.txtASub 始終本著友善環境的心來進行創作的唐鴉，2010年再度有驚豔之作，他運用友人林峻丞帶回八八風災的災區淤泥，花了一年的時間，捏塑了888尊祈福線香座，弓著腰、雙手合十的泥塑沙彌，是對受難者的不捨、是對大地的敬畏，也彷彿是對大自然的歉疚。
     
    include ./comp/pswp.pug
    include ./comp/footer.pug
    include ./comp/script.pug
    




    
    
    