include ./comp/config.pug

doctype html
html
  include ./comp/header.pug
  body
    +nav("index")
    
    div(class="mainBanner")
      include ./comp/banner.pug

    div.blocker.block-1-1
      div.content
        div.gridBox
          div.b1(style="background-image:url(./images/index-1.png)")
          div.b2(style="background-image:url(./images/index-2.png)")
          div.b3(style="background-image:url(./images/index-3.png)")
          div.b4(style="background-image:url(./images/index-4.png)")
    //-
      div.blocker.fitBorder.block-1-2
        div.content
          div(class="title")
            span Featured Products
          div.horiBox
            div.horiList.prod
              - var n = 0;            
              while n < 4
                -var imgName = "index-p-"+ (n % 4 + 1)+".png"
                a.box.num4(href="./prod_view.html", data-loop=n++) 
                  div.icon
                    i.fa.fa-shopping-cart(aria-hidden="true")     
                  div.pic(style=`background-image:url(${imgPath+imgName})`) 
                  div.txt
                    span.main 【天然果乾】洛神花乾-好好曬日子
                    span.money NT$ 480
          div.footer
            a.btn.main.fill More
      
    div.blocker.fitBorder.block-1-2
      div.content
        div.title
          span Featured Products
        +swiper("shop")
        //-
          div.footer
            a.btn.main.fill More
    
    
    div.blocker.fitBorder.block-1-3
      div.content
        div.title
          span NEWS & EVENTS
        +swiper("event")

    
    div.blocker.fitBorder.block-1-4
      div.content
        div.certification
          div
            img(src="./images/index-icon-1.svg", alt="", srcset="")
            span 台灣高品質蔬果
          div
            img(src="./images/index-icon-2.svg", alt="", srcset="")
            span 天然無添加
          div
            img(src="./images/index-icon-3.png", alt="", srcset="")
            span ISO 22000 認證

        //-
          div.footer
            a.btn.main.fill More
    //-
      div.blocker.fitBorder.block-1-4
        div.content
          div(class="title")
            span NEWS & EVENTS
          div.horiBox
            div.horiList.event
              - var n = 0;            
              while n < 3
                -var imgName = "index-e-"+ (n%3 +1)+".png"
                a.box.num3(href="./guide_view.html", data-loop=n++)                        
                  div.pic(style=`background-image:url(${imgPath+imgName})`) 
                  if n == 1
                    div.signUp.full 額滿
                  else
                    div.signUp 10/50
                  div.txt
                    span.main 木刻作品導覽!{n}
                    span 2022/01/30
                    span PM0200 ~ PM0600
          div.footer
            a.btn.main.fill(href="./guide.html") More
      
    include ./comp/pswp.pug
    include ./comp/footer.pug
    




    
    
    